Kiosk/BKiosk/BKiosk/Service References/BService/KioskService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WebRole1.HelperClasses" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WebRole1.HelperClasses" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="BetteryMember">
    <xs:sequence>
      <xs:element minOccurs="0" name="BatteriesCheckedOut" type="xs:int" />
      <xs:element minOccurs="0" name="BatteriesInPlan" type="xs:int" />
      <xs:element minOccurs="0" name="CustomerProfileID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MemberFirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MemberID" type="xs:int" />
      <xs:element minOccurs="0" name="MemberLastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OutstandingCredit" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BetteryMember" nillable="true" type="tns:BetteryMember" />
</xs:schema>