Kiosk/BKiosk/BKiosk/Service References/BService/KioskService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="KioskService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://bservice-dev.cloudapp.net/KioskService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://bservice-dev.cloudapp.net/KioskService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://bservice-dev.cloudapp.net/KioskService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WebRole1.HelperClasses" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IKioskService_AuthenticateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AuthenticateUser" />
  </wsdl:message>
  <wsdl:message name="IKioskService_AuthenticateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuthenticateUserResponse" />
  </wsdl:message>
  <wsdl:message name="IKioskService_AddBetteryMember_InputMessage">
    <wsdl:part name="parameters" element="tns:AddBetteryMember" />
  </wsdl:message>
  <wsdl:message name="IKioskService_AddBetteryMember_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddBetteryMemberResponse" />
  </wsdl:message>
  <wsdl:portType name="IKioskService">
    <wsdl:operation name="AuthenticateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IKioskService/AuthenticateUser" message="tns:IKioskService_AuthenticateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKioskService/AuthenticateUserResponse" message="tns:IKioskService_AuthenticateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddBetteryMember">
      <wsdl:input wsaw:Action="http://tempuri.org/IKioskService/AddBetteryMember" message="tns:IKioskService_AddBetteryMember_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKioskService/AddBetteryMemberResponse" message="tns:IKioskService_AddBetteryMember_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IKioskService" type="tns:IKioskService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AuthenticateUser">
      <soap:operation soapAction="http://tempuri.org/IKioskService/AuthenticateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddBetteryMember">
      <soap:operation soapAction="http://tempuri.org/IKioskService/AddBetteryMember" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="KioskService">
    <wsdl:port name="BasicHttpBinding_IKioskService" binding="tns:BasicHttpBinding_IKioskService">
      <soap:address location="http://bservice-dev.cloudapp.net/KioskService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>