Kiosk/Bettery.Kiosk/Bettery.Kiosk/Service References/BService/KioskService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="KioskService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_IKioskService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://www2.betteryinc.com/webservice/KioskService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://www2.betteryinc.com/webservice/KioskService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://www2.betteryinc.com/webservice/KioskService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WebRole1.HelperClasses" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IKioskService_AuthenticateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AuthenticateUser" />
  </wsdl:message>
  <wsdl:message name="IKioskService_AuthenticateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuthenticateUserResponse" />
  </wsdl:message>
  <wsdl:message name="IKioskService_AddBetteryMember_InputMessage">
    <wsdl:part name="parameters" element="tns:AddBetteryMember" />
  </wsdl:message>
  <wsdl:message name="IKioskService_AddBetteryMember_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddBetteryMemberResponse" />
  </wsdl:message>
  <wsdl:message name="IKioskService_UpdateMembership_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMembership" />
  </wsdl:message>
  <wsdl:message name="IKioskService_UpdateMembership_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMembershipResponse" />
  </wsdl:message>
  <wsdl:message name="IKioskService_UpdateProfile_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProfile" />
  </wsdl:message>
  <wsdl:message name="IKioskService_UpdateProfile_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProfileResponse" />
  </wsdl:message>
  <wsdl:message name="IKioskService_KioskPing_InputMessage">
    <wsdl:part name="parameters" element="tns:KioskPing" />
  </wsdl:message>
  <wsdl:message name="IKioskService_KioskPing_OutputMessage">
    <wsdl:part name="parameters" element="tns:KioskPingResponse" />
  </wsdl:message>
  <wsdl:message name="IKioskService_CheckEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckEmail" />
  </wsdl:message>
  <wsdl:message name="IKioskService_CheckEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckEmailResponse" />
  </wsdl:message>
  <wsdl:message name="IKioskService_GetPromoCredit_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPromoCredit" />
  </wsdl:message>
  <wsdl:message name="IKioskService_GetPromoCredit_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPromoCreditResponse" />
  </wsdl:message>
  <wsdl:message name="IKioskService_RedeemPromoCode_InputMessage">
    <wsdl:part name="parameters" element="tns:RedeemPromoCode" />
  </wsdl:message>
  <wsdl:message name="IKioskService_RedeemPromoCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:RedeemPromoCodeResponse" />
  </wsdl:message>
  <wsdl:message name="IKioskService_ReturnBinFullAlert_InputMessage">
    <wsdl:part name="parameters" element="tns:ReturnBinFullAlert" />
  </wsdl:message>
  <wsdl:message name="IKioskService_ReturnBinFullAlert_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReturnBinFullAlertResponse" />
  </wsdl:message>
  <wsdl:message name="IKioskService_ProductInventoryAlert_InputMessage">
    <wsdl:part name="parameters" element="tns:ProductInventoryAlert" />
  </wsdl:message>
  <wsdl:message name="IKioskService_ProductInventoryAlert_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProductInventoryAlertResponse" />
  </wsdl:message>
  <wsdl:message name="IKioskService_AuthorizeDotNetAlert_InputMessage">
    <wsdl:part name="parameters" element="tns:AuthorizeDotNetAlert" />
  </wsdl:message>
  <wsdl:message name="IKioskService_AuthorizeDotNetAlert_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuthorizeDotNetAlertResponse" />
  </wsdl:message>
  <wsdl:message name="IKioskService_TransactionFailureAlert_InputMessage">
    <wsdl:part name="parameters" element="tns:TransactionFailureAlert" />
  </wsdl:message>
  <wsdl:message name="IKioskService_TransactionFailureAlert_OutputMessage">
    <wsdl:part name="parameters" element="tns:TransactionFailureAlertResponse" />
  </wsdl:message>
  <wsdl:message name="IKioskService_EmptyCaseVend_InputMessage">
    <wsdl:part name="parameters" element="tns:EmptyCaseVend" />
  </wsdl:message>
  <wsdl:message name="IKioskService_EmptyCaseVend_OutputMessage">
    <wsdl:part name="parameters" element="tns:EmptyCaseVendResponse" />
  </wsdl:message>
  <wsdl:portType name="IKioskService">
    <wsdl:operation name="AuthenticateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IKioskService/AuthenticateUser" message="tns:IKioskService_AuthenticateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKioskService/AuthenticateUserResponse" message="tns:IKioskService_AuthenticateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddBetteryMember">
      <wsdl:input wsaw:Action="http://tempuri.org/IKioskService/AddBetteryMember" message="tns:IKioskService_AddBetteryMember_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKioskService/AddBetteryMemberResponse" message="tns:IKioskService_AddBetteryMember_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateMembership">
      <wsdl:input wsaw:Action="http://tempuri.org/IKioskService/UpdateMembership" message="tns:IKioskService_UpdateMembership_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKioskService/UpdateMembershipResponse" message="tns:IKioskService_UpdateMembership_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateProfile">
      <wsdl:input wsaw:Action="http://tempuri.org/IKioskService/UpdateProfile" message="tns:IKioskService_UpdateProfile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKioskService/UpdateProfileResponse" message="tns:IKioskService_UpdateProfile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="KioskPing">
      <wsdl:input wsaw:Action="http://tempuri.org/IKioskService/KioskPing" message="tns:IKioskService_KioskPing_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKioskService/KioskPingResponse" message="tns:IKioskService_KioskPing_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IKioskService/CheckEmail" message="tns:IKioskService_CheckEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKioskService/CheckEmailResponse" message="tns:IKioskService_CheckEmail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPromoCredit">
      <wsdl:input wsaw:Action="http://tempuri.org/IKioskService/GetPromoCredit" message="tns:IKioskService_GetPromoCredit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKioskService/GetPromoCreditResponse" message="tns:IKioskService_GetPromoCredit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RedeemPromoCode">
      <wsdl:input wsaw:Action="http://tempuri.org/IKioskService/RedeemPromoCode" message="tns:IKioskService_RedeemPromoCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKioskService/RedeemPromoCodeResponse" message="tns:IKioskService_RedeemPromoCode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReturnBinFullAlert">
      <wsdl:input wsaw:Action="http://tempuri.org/IKioskService/ReturnBinFullAlert" message="tns:IKioskService_ReturnBinFullAlert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKioskService/ReturnBinFullAlertResponse" message="tns:IKioskService_ReturnBinFullAlert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProductInventoryAlert">
      <wsdl:input wsaw:Action="http://tempuri.org/IKioskService/ProductInventoryAlert" message="tns:IKioskService_ProductInventoryAlert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKioskService/ProductInventoryAlertResponse" message="tns:IKioskService_ProductInventoryAlert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AuthorizeDotNetAlert">
      <wsdl:input wsaw:Action="http://tempuri.org/IKioskService/AuthorizeDotNetAlert" message="tns:IKioskService_AuthorizeDotNetAlert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKioskService/AuthorizeDotNetAlertResponse" message="tns:IKioskService_AuthorizeDotNetAlert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TransactionFailureAlert">
      <wsdl:input wsaw:Action="http://tempuri.org/IKioskService/TransactionFailureAlert" message="tns:IKioskService_TransactionFailureAlert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKioskService/TransactionFailureAlertResponse" message="tns:IKioskService_TransactionFailureAlert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EmptyCaseVend">
      <wsdl:input wsaw:Action="http://tempuri.org/IKioskService/EmptyCaseVend" message="tns:IKioskService_EmptyCaseVend_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKioskService/EmptyCaseVendResponse" message="tns:IKioskService_EmptyCaseVend_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IKioskService" type="tns:IKioskService">
    <wsp:PolicyReference URI="#BasicHttpBinding_IKioskService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AuthenticateUser">
      <soap:operation soapAction="http://tempuri.org/IKioskService/AuthenticateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddBetteryMember">
      <soap:operation soapAction="http://tempuri.org/IKioskService/AddBetteryMember" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateMembership">
      <soap:operation soapAction="http://tempuri.org/IKioskService/UpdateMembership" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateProfile">
      <soap:operation soapAction="http://tempuri.org/IKioskService/UpdateProfile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KioskPing">
      <soap:operation soapAction="http://tempuri.org/IKioskService/KioskPing" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckEmail">
      <soap:operation soapAction="http://tempuri.org/IKioskService/CheckEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPromoCredit">
      <soap:operation soapAction="http://tempuri.org/IKioskService/GetPromoCredit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RedeemPromoCode">
      <soap:operation soapAction="http://tempuri.org/IKioskService/RedeemPromoCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReturnBinFullAlert">
      <soap:operation soapAction="http://tempuri.org/IKioskService/ReturnBinFullAlert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProductInventoryAlert">
      <soap:operation soapAction="http://tempuri.org/IKioskService/ProductInventoryAlert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuthorizeDotNetAlert">
      <soap:operation soapAction="http://tempuri.org/IKioskService/AuthorizeDotNetAlert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TransactionFailureAlert">
      <soap:operation soapAction="http://tempuri.org/IKioskService/TransactionFailureAlert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EmptyCaseVend">
      <soap:operation soapAction="http://tempuri.org/IKioskService/EmptyCaseVend" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="KioskService">
    <wsdl:port name="BasicHttpBinding_IKioskService" binding="tns:BasicHttpBinding_IKioskService">
      <soap:address location="https://www2.betteryinc.com/webservice/KioskService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>