Kiosk/Bettery.Kiosk/Bettery.Kiosk/Service References/BService/KioskService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WebRole1.HelperClasses" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WebRole1.HelperClasses" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="BetteryMember">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountBalance" type="xs:decimal" />
      <xs:element minOccurs="0" name="BatteryPacksCheckedOut" type="xs:int" />
      <xs:element minOccurs="0" name="BatteryPacksInPlan" type="xs:int" />
      <xs:element minOccurs="0" name="CCExPireDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CCLastFourDigits" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerProfileID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FreeCases" type="xs:int" />
      <xs:element minOccurs="0" name="GroupID" type="xs:int" />
      <xs:element minOccurs="0" name="MemberFirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MemberID" type="xs:int" />
      <xs:element minOccurs="0" name="MemberLastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MemberTotalBatteries" type="xs:int" />
      <xs:element minOccurs="0" name="PaymentProfileID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BetteryMember" nillable="true" type="tns:BetteryMember" />
  <xs:complexType name="Promo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="PromoType" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Promo" nillable="true" type="tns:Promo" />
</xs:schema>